.container {
  padding: 0;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main a {
  text-decoration: none;
}

.title {
  color: #de6363;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.main a:not(.card) {
  color: #de6363;
}

.main a:hover,
.main a:focus,
.main a:active {
  text-decoration: underline;
}

.main a:hover,
.main a:focus,
.main a:active {
  text-decoration: underline;
}

.title,
.description {
  text-align: start;
}

.description {
  margin: 2rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.hero {
  width: 100%;
  height: 50vh;
  margin-bottom: 2rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.row {
  padding: 0 2rem;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.25s ease, border-color 0.15s ease;
  width: 220px;
  height: 180px;
}

.card:last-child {
  margin-left: 2rem;
  width: auto;
}

.card:not(:last-child):hover,
.card:not(:last-child):focus,
.card:not(:last-child):active {
  color: #de6363;
  border-color: #de6363;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}
.column h2 {
  margin: 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 1000px) {
  .row {
    width: 100%;
    flex-direction: column;
  }

  .card {
    width: 100%;
    height: auto;
  }
}
