.main {
  padding: 2rem;
}

.main ul {
  margin-left: 4px;
}

.main ul ul {
  margin-bottom: 8px;
}

.main a {
  color: #0070f3;
}

.main a:hover,
.main a:focus,
.main a:active {
  text-decoration: underline;
}

.demo {
  width: 100%;
  min-height: calc(100vh - 200px);
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  column-gap: 16px;
  margin-top: 1rem;
}

.code {
  width: 50%;
  overflow: auto;
  max-height: calc(100vh - 200px);
  border: 1px solid #ccc;
}

.code pre {
  margin: 0;
}

.scene {
  width: 50%;
  flex-grow: 1;
}

.scene canvas {
  min-height: calc(100vh - 200px);
}

.scene__full_width {
  width: 100%;
  flex-grow: 1;
}

.scene__full_width canvas {
  min-height: calc(100vh - 200px);
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 16px;
  align-items: center;
  justify-content: center;
}
